body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #d32317;
    color: #fff;
    text-align: center;
    padding: 15px;
    height: 150px;
}

h1 {
    font-size: 2em;
    margin: 10;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Pesquisar {
   border-radius: 10px ;
   width: 400px;
   height: 30px;
   border-color: transparent;
}
.pesquisar {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border-color: transparent;
    
}

/* Estilos para exibir 4 Pokémon por linha */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: calc(23% - 23px); /* Calcula 25% do espaço menos as margens */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block; /* Garante que fiquem em linha reta */

}

.card img {
    width: 80px;
    height: 80px;
}

.card h2 {
    font-size: 1.2em;
}

